doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class='main')
      header
        img(src='images/logo.png' class='logo' alt='OSTRICH')
        h1(class='title') Versioned Random-Access Triple Store

      div(class='actions')
        div(class='actionsWrapper')
          a(href='/qvm' class=querytype === 'qvm' ? 'current' : '') Version Materialization
          a(href='/qdm' class=querytype === 'qdm' ? 'current' : '') Delta Materialization
          a(href='/qvq' class=querytype === 'qvq' ? 'current' : '') Version Query
          a(href='/ingest' class=querytype === 'ingest' ? 'current' : '') Ingest

      div(class='stats')
        b Store:
        |  #{path}
        b Versions:
        |  #{versions}
        b Unique triples:
        |  #{totalTriples}
        b Size:
        |  #{size} MB

    div(class='content')
      block content

    div(class='data')
      block data
